#mainMenu {
    top: 16px;
    left: 16px;
    right: 16px;
    margin: auto;
}

#activeUnitView {
    left: 8px;
    top: 8px;
}

#turnQueue {
    left: 8px;
    top: 164px;
}

#loginPopup {
    position:relative;
    width:250px;
    top:20px;
    margin:auto;
}

.active-unit-preview {
    height: 96px;
    width: 96px;
}

.turn-queue-preview {
    height: 40px;
}

.unit-preview {
    width: 32px;
    height: 32px;
}

.action-container {
    height: 44px;
}

.action {
    height: 44px;
    width: 44px;
}

@media only screen and (orientation: landscape) {
    #mainMenu {
        top: auto;
        left: auto;
        right: 8px;
        bottom: 8px;
        width: 300px;
    }

    #turnQueue {
        left: 120px;
        top: 8px;
    }

    .turn-queue-preview {
        display: inline-block;
        -webkit-transition-property: width;
        transition-property: width;
        height: auto;
        width: 40px;
    }

    .turn-queue-preview .container {
        width: calc(100% - 8px);
    }

    #actionBarView {
        left: auto;
        bottom: auto;
        right: 8px;
        top: 50%;
    }

    .action-container {
        height: auto;
        margin-left: auto;
        width: 44px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .action-container div {
        margin: 0 0 8px 0;
    }

    .action-container .divider {
        height: 1px;
        width: 100%;
    }
}
