#mainMenu {
    right: 100px;
    bottom: 100px;
    width: 300px;
}

#loginPopup {
    position: relative;
    width: 250px;
    top: 200px;
    margin: auto;
}

#turnQueue {
    left: 8px;
    top: 203px;
}

.unit-view.primary {
    left: 0;
    top: 0;
    border-radius: 0 0 8px 0;
}

.unit-view.secondary {
    right: 0;
    top: 0;
    border-radius: 0 0 0 8px;
}

.outerBar {
    margin-top: 4px;
}

.active-unit-preview {
    height: 128px;
    width: 128px;
}

.turn-queue-preview {
    height: 72px;
}

.unit-preview {
    width: 64px;
    height: 64px;
}

.action-container {
    height: 64px;
}

.action {
    height: 64px;
    width: 64px;
}



#lobbyMenu {
    color: #FFF;
    padding: 0;
    margin: 0;
    width: 100%;
}

#lobbyMenu h1 {
    font-size:2em;
    font-weight:700;
    text-align: center;
    margin: 0 10px 10px 10px;
}

#leftColumn {
    width: 100%;
    max-width: 350px;
    float: left;
}

#leftColumn table {
    width: 100%;
}

#leftColumn .buttonWidth {
    width: 50px;
}

#rightColumn {
    /* width: 100%; */
    /* max-width: 850px; */
    float: left;
    /* margin-left: 350px; */
}

#rightColumn ul {
    display: inline;
}

#rightColumn li {
    float:left;
    display: inline;
    padding: 0px 10px;
}

#rightColumn li:nth-child(odd) {
    background: #999;
    border-radius: 10px;
    padding: 0px 10px;
    color: #FFF;
}

#searchBox {
    padding:10px 0px;
}

.section {
    background-color: rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.playerName {
    font-family: Arial;
    
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.playerRecord {
    padding: 10px 0px 0px 0px;
    
}

.playerRanking {
    float: left;
    
    font-size: 24px;
    font-family: Arial;
    font-weight: 900;
    color: #417C00;
    text-shadow: 1px 1px 0 #000;
    padding: 0px 10px;
}

.result {
    padding: 10px;
}

.result input {
    height: 100%;
}

.resultsTable {
    width: 100%;
    border-collapse: collapse;
    color: #FFF;
    left: 0px;
    top: 0px;
}

.resultsTable table {
    border-collapse: collapse;
    width:100%;
    margin:0px;
    padding:0px;
}

.resultsTable tr:nth-child(odd) { 
    background-color:#DDD; 
}

.resultsTable tr:nth-child(even) { 
    background-color:#CCC; 
}

.resultsTable td {
    vertical-align: middle;
    padding:10px;
    font-size:14px;
    font-family:Arial;
    /* display: inline; */
    /* float: left; */
}

.resultsTable td:last-child {
    width: 100px;
}

.resultsTable td:last-child input {
    width: 100px;
}

.resultsTable th {
    display: block;
    background-color:#999;
    padding:10px;
    text-align:left;
    font-size:14px;
    font-family:Arial;
    font-weight:700;
    color:#ffffff;
    display: table-cell;
}