html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.main-menu {
    background-image: url("Renderer/content/images/mainMenu.jpg");
    background-position: left top;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

#turnQueue {
    position: fixed;
    overflow: hidden;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
}

.turn-queue-preview {
    position: relative;
    display: block;
    -webkit-transition-property: height;
    -webkit-transition-duration: 1s;
    transition-property: height;
    transition-duration: 1s;
}

.turn-queue-preview .container {
    overflow: hidden;
    border-radius: 4px;

    /*TODO: find a better way to do this*/
    height: calc(100% - 8px);
}

.turn-queue-preview .container.selected {
    -webkit-box-shadow: 0 0 6px 1px #fff;
    box-shadow: 0 0 6px 1px #fff;
}

.turn-queue-preview {
    height: 72px;
}

.unit-preview {
    width: 64px;
    height: 64px;
}

.floating-panel {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.floating-panel.isVisible {
    opacity: 1;
}

.action-panel {
    width: 132px;
    height: 88px;
}

.confirmation-panel {
    margin-top: 16px;
}

.unit-status-panel {
    position: absolute;
    width: 68px;
    margin-top: -60px;
}

.action {
    width: 44px;
    height: 44px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.action.disabled {
    opacity: 0.5;
}

.confirmation-panel .action {
    display: inline-block;
}

.action-panel .action {
    position: absolute;
    top: 0;
    left: 44px;
    width: 44px;
    height: 44px;
    -webkit-transition: top 0.5s, left 0.5s;
    transition: top 0.5s, left 0.5s;
}

.action-panel.isVisible .action:nth-child(1) {
    left: 0;
    top: 0;
}

.action-panel.isVisible .action:nth-child(2) {
    left: 88px;
    top: 0;
}

.action-panel.isVisible .action.action:nth-child(3) {
    left: 0;
    top: 44px;
}

.action-panel.isVisible .action.action:nth-child(4) {
    top: 44px;
    left: 44px;
}

.action-panel.isVisible .action.action:nth-child(5) {
    top: 44px;
    left: 88px;
}

.outerBar {
    position: relative;
    border: 1px solid #5f5f5f;
    background-color: #505050;
    border-radius: 2px;
    height: 7px;
}

.ap-bar {
    height: 6px;
    border-top: none;
}

.innerBar, .innerBarPreview {
    position: absolute;
    border-radius: 1px;
    left: 0;
    top: 0;
    bottom: 0;
}

.innerBar {
    -webkit-transition: width 1s;
    transition: width 1s;
}

.innerBarPreview {
    display: none;
}

.innerBarPreview.blink {
    display: block;
}

.hp-bar .innerBar, .hp-bar .innerBarPreview {
    background: #13b22b;
}

.ap-bar .innerBar, .ap-bar .innerBarPreview {
    background: #d6ca20;
}

.unit-type-archer {
    background-image: url('Renderer/content/images/archerIcon.png');
}

.unit-type-dualWield {
    background-image: url('Renderer/content/images/dualWieldIcon.png');
}

.unit-type-swordAndShield {
    background-image: url('Renderer/content/images/swordAndShieldIcon.png');
}

.unit-type-twoHanded {
    background-image: url('Renderer/content/images/twoHandedIcon.png');
}

.action[data-action-name="move"] {
    background-image: url('Renderer/content/images/moveIcon.png');
}

.action[data-action-name="endTurn"] {
    background-image: url('Renderer/content/images/endTurnIcon.png');
}

.action[data-action-name="confirm"] {
    background-image: url('Renderer/content/images/confirmIcon.png');
}

.action[data-action-name="cancel"] {
    background-image: url('Renderer/content/images/cancelIcon.png');
}

.action[data-action-name="rangedAttack"] {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="overheadAttack"] {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="meleeAttack"] {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="strike"], .action[data-action-name="placeholder"] {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action[data-action-name="shieldBash"] {
    background-image: url('Renderer/content/images/shieldIcon.png');
}

.action[data-action-name="sweep"] {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action[data-action-name="overhead"] {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action[data-action-name="throwDagger"] {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.player-team {
    background: #3ddb11;
    background: -webkit-linear-gradient(top, #3ddb11 0%, #134705 100%);
    background: linear-gradient(to bottom, #3ddb11 0%, #134705 100%);
}

.enemy-team {
    background: #f93b34;
    background: -webkit-linear-gradient(top, #f93b34 0%, #580d0c 100%);
    background: linear-gradient(to bottom, #f93b34 0%, #580d0c 100%);
}

.blink {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}