html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

body.main-menu {
    background-image: url("Renderer/content/images/promo.png");
    background-position: left bottom;
}

#mainMenu {
    position: absolute;
}

.menuItem {
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgb(200, 200, 200) 20%, rgb(200, 200, 200) 80%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(200, 200, 200) 20%, rgb(200, 200, 200) 80%, rgba(0, 0, 0, 0) 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 48;
    font-weight: 700;
    color: #000;
    opacity: 0.8;
}

#overlay {
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.75);
}

#loginPopup {
    position:relative;
    width:250px;
    top:200px;
    margin:auto;
}

#loginPopupContents {
    background-color:#CCC;
    padding:10px 0px 20px 0px;
}

.inputLabel {
    font-weight:700;
    padding: 10px 0px 0px 20px
}

.input {
    padding: 0px 10px 0px 40px;
}

.table {
    text-align:center;
    display:table;
    width:100%;
}

.tab {   
    display: table-cell;
    width: 50%;
    padding: 10px 0px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
    background-color: #CCC;
}

.unselectedTab {
    display: table-cell;
    width: 50%;
    padding: 10px 0px;
    font-weight: 700;
    border-radius: 10px 10px 0px 0px;
    background-color: #999;
}

.button {   
    display: table-cell;
    width: 50%;
    padding: 10px 0px;
    font-weight: 700;
    border: 1px solid #999;
    background-color: #CCC;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

#turnQueue {
    position: fixed;
    opacity: 1;
    border-radius: 8px;
}

.active-unit-preview {
    opacity: 0;
    margin-bottom: 8px;
    background-size: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.turn-queue-preview {
    position: relative;
    display: block;
    -webkit-transition-property: height;
    -webkit-transition-duration: 1s;
    transition-property: height;
    transition-duration: 1s;
}

.turn-queue-preview .container {
    overflow: hidden;
    border-radius: 8px;
    height: calc(100% - 8px);
}

.unit-preview {
    background-size: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#activeUnitView {
    position: fixed;
    opacity: 1;
    border-radius: 8px;
    padding: 4px;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

#activeUnitView .outerBar {
    position: relative;
    border: 1px solid #5f5f5f;
    background-color: #505050;
    height: 12px;
    margin: 0 4px 4px 4px;
    border-radius: 6px;
}

#activeUnitView .innerBar, #activeUnitView .innerBarPreview {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    left: 0;
}

#activeUnitView .innerBar {
    -webkit-transition: width 1s;
    transition: width 1s;
}

#activeUnitView .innerBarPreview {
    animation: blink 1s ease-in-out infinite alternate;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
}

#activeUnitHP .innerBar, #activeUnitHP .innerBarPreview {
    background: #13b22b;
    background: -webkit-linear-gradient(top, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
    background: linear-gradient(to bottom, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
}

#activeUnitAP .innerBar, #activeUnitAP .innerBarPreview {
    background: #d6ca20;
    background: -webkit-linear-gradient(top, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
    background: linear-gradient(to bottom, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
}

#actionBarView {
    position: fixed;
    left: 50%;
    bottom: 8px;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.action-container {
    display: inline-block;
    margin-left: -50%;
    padding: 8px;
    border: 4px solid rgba(113, 112, 116, 1);
    border-style: outset;
    background: -webkit-linear-gradient(top, #707070 0%, #383838 51%, #2d2d2d 100%);
    background: linear-gradient(to bottom, #707070 0%, #383838 51%, #2d2d2d 100%);
}

.action-container div {
    display: inline-block;
    margin-right: 8px;
}

.action-container div:last-child {
    margin: 0;
}

.action-container .divider {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.unit-type-archer {
    background-image: url('Renderer/content/images/archerIcon.png');
}

.unit-type-dualWield {
    background-image: url('Renderer/content/images/dualWieldIcon.png');
}

.unit-type-swordAndShield {
    background-image: url('Renderer/content/images/swordAndShieldIcon.png');
}

.unit-type-twoHanded {
    background-image: url('Renderer/content/images/twoHandedIcon.png');
}

.action {
    background-size: 100%;
}

.action.disabled {
    opacity: 0.3;
}

.action.attack {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action.cancel {
    background-image: url('Renderer/content/images/cancelIcon.png');
}

.action.confirmMove {
    background-image: url('Renderer/content/images/confirmMoveIcon.png');
}

.action.endTurn {
    background-image: url('Renderer/content/images/endTurnIcon.png');
}

.action.longShot {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.move {
    background-image: url('Renderer/content/images/moveIcon.png');
}

.action.rangeAttack {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.shield {
    background-image: url('Renderer/content/images/shieldIcon.png');
}

.action.shortShot {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.strike {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action.sweep {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.player-team {
    background: #3ddb11;
    background: -webkit-linear-gradient(top, #3ddb11 0%, #134705 100%);
    background: linear-gradient(to bottom, #3ddb11 0%, #134705 100%);
}

.enemy-team {
    background: #f93b34;
    background: -webkit-linear-gradient(top, #f93b34 0%, #580d0c 100%);
    background: linear-gradient(to bottom, #f93b34 0%, #580d0c 100%);
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
