#turnQueue {
    left: 8px;
    top: 203px;
}

.unit-view.primary {
    left: 0;
    top: 0;
    border-radius: 0 0 8px 0;
}

.unit-view.secondary {
    right: 0;
    top: 0;
    border-radius: 0 0 0 8px;
}

.outerBar {
    margin-top: 4px;
}

.active-unit-preview {
    height: 128px;
    width: 128px;
}

.turn-queue-preview {
    height: 72px;
}

.unit-preview {
    width: 64px;
    height: 64px;
}

.action-container {
    height: 64px;
}

.action {
    height: 64px;
    width: 64px;
}