html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.main-menu {
    background-image: url("./menu/images/mainMenu.jpg");
    background-position: left top;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#game-canvas {
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.floating-panel {
    position: absolute;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
}

.floating-panel:not(.isVisible) {
    pointer-events: none;
}

.action-panel {
    width: 132px;
    height: 88px;
    z-index: 5;
}

.confirmation-panel {
    margin-top: 16px;
    z-index: 10;
}

.unit-status-panel {
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    margin-top: -56px;
    z-index: 1;
    vertical-align: middle;
}

.turn-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: #240a00;
    color: #ff1f00;
    line-height: 20px;
    margin-top: -6px;
}

.unit-status-panel.local .turn-indicator {
    background-color: #00230a;
    color: #00db30;
}

.status-indicator {
    display: inline-block;
    width: 50px;
}

.action {
    width: 44px;
    height: 44px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.action.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.confirmation-panel .action {
    display: inline-block;
}

.action-panel .action {
    position: absolute;
    top: 0;
    left: 44px;
    width: 44px;
    height: 44px;
    -webkit-transition: top 0.5s, left 0.5s;
    transition: top 0.5s, left 0.5s;
}

.action-panel.isVisible .action:nth-child(1) {
    left: 0;
    top: 0;
}

.action-panel.isVisible .action:nth-child(2) {
    left: 88px;
    top: 0;
}

.action-panel.isVisible .action.action:nth-child(3) {
    left: 0;
    top: 44px;
}

.action-panel.isVisible .action.action:nth-child(4) {
    top: 44px;
    left: 44px;
}

.action-panel.isVisible .action.action:nth-child(5) {
    top: 44px;
    left: 88px;
}

.outerBar {
    position: relative;
    border: 1px solid #5f5f5f;
    background-color: #505050;
    border-radius: 2px;
    height: 7px;
}

.ap-bar {
    height: 6px;
    border-top: none;
}

.innerBar, .innerBarPreview {
    position: absolute;
    border-radius: 1px;
    left: 0;
    top: 0;
    bottom: 0;
}

.innerBar {
    -webkit-transition: width 1s;
    transition: width 1s;
}

.innerBarPreview {
    display: none;
}

.innerBarPreview.blink {
    display: block;
}

.hp-bar .innerBar, .hp-bar .innerBarPreview {
    background: #13b22b;
}

.ap-bar .innerBar, .ap-bar .innerBarPreview {
    background: #d6ca20;
}

.unit-type-archer {
    background-image: url('renderer/content/images/archerIcon.png');
}

.unit-type-rogue {
    background-image: url('renderer/content/images/dualWieldIcon.png');
}

.unit-type-shield {
    background-image: url('renderer/content/images/swordAndShieldIcon.png');
}

.unit-type-warrior {
    background-image: url('renderer/content/images/twoHandedIcon.png');
}

.action[data-action-name="move"] {
    background-image: url('renderer/content/images/moveIcon.png');
}

.action[data-action-name="endTurn"] {
    background-image: url('renderer/content/images/endTurnIcon.png');
}

.action[data-action-name="confirm"] {
    background-image: url('renderer/content/images/confirmIcon.png');
}

.action[data-action-name="cancel"] {
    background-image: url('renderer/content/images/cancelIcon.png');
}

.action[data-action-name="rangedAttack"] {
    background-image: url('renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="overheadAttack"] {
    background-image: url('renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="meleeAttack"] {
    background-image: url('renderer/content/images/rangeAttackIcon.png');
}

.action[data-action-name="strike"] {
    background-image: url('renderer/content/images/attackIcon.png');
}

.action[data-action-name="shieldBash"] {
    background-image: url('renderer/content/images/shieldIcon.png');
}

.action[data-action-name="defend"] {
    background-image: url('renderer/content/images/shieldIcon.png');
}

.action[data-action-name="sweep"] {
    background-image: url('renderer/content/images/attackIcon.png');
}

.action[data-action-name="overhead"] {
    background-image: url('renderer/content/images/attackIcon.png');
}

.action[data-action-name="throwDagger"] {
    background-image: url('renderer/content/images/attackIcon.png');
}

.action[data-action-name="vitalStrike"] {
    background-image: url('renderer/content/images/attackIcon.png');
}

.blink {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}