html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body.main-menu {
    background-image: url("Renderer/content/promo.png");
}

#mainMenu {
    position: absolute;
}

.menuItem {
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgb(200, 200, 200) 20%, rgb(200, 200, 200) 80%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(200, 200, 200) 20%, rgb(200, 200, 200) 80%, rgba(0, 0, 0, 0) 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 48;
    font-weight: 700;
    color: #000;
    opacity: 0.8;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

#activeUnitView {
    position: fixed;
    opacity: 1;
    border-radius: 8px;
    padding: 4px;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

#turnQueue {
    position: fixed;
    opacity: 1;
    border-radius: 8px;
}

.active-unit-preview {
    margin-bottom: 8px;
}

.turn-queue-preview {
    position: relative;
    display: block;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.turn-queue-preview div {
    width: 100%;
    height: 100%;
}

#activeUnitView .outerBar {
    position: relative;
    border: 1px solid #5f5f5f;
    background-color: #505050;
    height: 12px;
    margin: 0 4px 4px 4px;
    border-radius: 6px;
}

#activeUnitView .innerBar, #activeUnitView .innerBarPreview {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    left: 0;
}

#activeUnitHP .innerBar, #activeUnitHP .innerBarPreview {
    background: #13b22b;
    background: -webkit-linear-gradient(top, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
    background: linear-gradient(to bottom, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
}

#activeUnitAP .innerBar, #activeUnitAP .innerBarPreview {
    background: #d6ca20;
    background: -webkit-linear-gradient(top, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
    background: linear-gradient(to bottom, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
}

#actionBarView {
    position: fixed;
    left: 50%;
    bottom: 8px;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.action-container {
    display: inline-block;
    margin-left: -50%;
    padding: 8px;
    border: 4px solid rgba(113, 112, 116, 1);
    border-style: outset;
    background: -webkit-linear-gradient(top, #707070 0%, #383838 51%, #2d2d2d 100%);
    background: linear-gradient(to bottom, #707070 0%, #383838 51%, #2d2d2d 100%);
}

.action-container div {
    display: inline-block;
    margin-right: 8px;
}

.action-container div:last-child {
    margin: 0;
}

.action-container .divider {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.unit-type-archer {
    background-image: url('Renderer/content/icons.png');
}

.action-attack {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
}

.action-cancel {
    background-color: transparent;
    background-image: url('Renderer/content/cancelIcon.png');
}

.action-confirmMove {
    background-color: transparent;
    background-image: url('Renderer/content/confirmMoveIcon.png');
}

.action-endTurn {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
}

.action-move {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
}

.action-rangeAttack {
    background-color: transparent;
    background-image: url('Renderer/content/rangeAttackIcon.png');
}

.action-shield {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
}

.team-green {
    background: #3ddb11;
    background: -webkit-linear-gradient(top, #3ddb11 0%, #134705 100%);
    background: linear-gradient(to bottom, #3ddb11 0%, #134705 100%);
}

.team-red {
    background: #f93b34;
    background: -webkit-linear-gradient(top, #f93b34 0%, #580d0c 100%);
    background: linear-gradient(to bottom, #f93b34 0%, #580d0c 100%);
}
