#mainMenu {
    right: 100px;
    bottom: 100px;
    width: 300px;
}

#activeUnitView {
    left: 16px;
    top: 16px;
}

#turnQueue {
    left: 16px;
    top: 204px;
}

.active-unit-preview {
    height: 128px;
    width: 128px;
}

.turn-queue-preview{
    height: 72px;
}

.unit-preview {
    width: 64px;
    height: 64px;
}

.action-container {
    height: 64px;
}

.action {
    height: 64px;
    width: 64px;
}