html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.main-menu {
    background-image: url("Renderer/content/images/mainMenu.jpg");
    background-position: left top;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

#turnQueue {
    position: fixed;
    opacity: 0.8;
}

.active-unit-preview {
    opacity: 0;
    background-size: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.active-unit-preview.previous {
    position: absolute;
    z-index: -1;
    top: 0;
}

.turn-queue-preview {
    position: relative;
    display: block;
    -webkit-transition-property: height;
    -webkit-transition-duration: 1s;
    transition-property: height;
    transition-duration: 1s;
}

.turn-queue-preview .container {
    overflow: hidden;
    border-radius: 4px;
    height: calc(100% - 8px);
}

.turn-queue-preview .container.selected {
    -webkit-box-shadow: 0 0 6px 1px #fff;
    box-shadow: 0 0 6px 1px #fff;
}

.unit-preview {
    background-size: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.unit-view {
    position: fixed;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
    padding: 4px;
}

.unit-view .unit-name {
    font-size: 20px;
    text-shadow: 1px 1px #b3b3b3;
}

.unit-image-container {
    position: relative;
}

.unit-view .outerBar {
    position: relative;
    border: 1px solid #5f5f5f;
    background-color: #505050;
    height: 12px;
    border-radius: 4px;
}

.unit-view .innerBar, .unit-view .innerBarPreview {
    position: absolute;
    border-radius: 3px;
    height: 100%;
    left: 0;
}

.unit-view .innerBar {
    -webkit-transition: width 1s;
    transition: width 1s;
}

.unit-view .innerBarPreview {
    display: none;
}

.unit-view .innerBarPreview.blink {
    display: block;
}

.hp-bar .innerBar, .hp-bar .innerBarPreview {
    background: #13b22b;
    background: -webkit-linear-gradient(top, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
    background: linear-gradient(to bottom, #13b22b 0%, #13b11e 50%, #0ea81b 52%, #31e037 100%);
}

.ap-bar .innerBar, .ap-bar .innerBarPreview {
    background: #d6ca20;
    background: -webkit-linear-gradient(top, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
    background: linear-gradient(to bottom, #d6ca20 0%, #e0c321 50%, #ceb618 52%, #edd978 100%);
}

#actionBarView {
    position: fixed;
    left: 50%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.action-container {
    display: inline-block;
    margin-left: -50%;
    padding: 8px;
    background: -webkit-linear-gradient(top, #707070 0%, #383838 51%, #2d2d2d 100%);
    background: linear-gradient(to bottom, #707070 0%, #383838 51%, #2d2d2d 100%);
    border-radius: 8px 8px 0 0;
}

.action-container div {
    display: inline-block;
    margin-right: 8px;
}

.action-container div:last-child {
    margin: 0;
}

.action-container .divider {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.unit-type-archer {
    background-image: url('Renderer/content/images/archerIcon.png');
}

.unit-type-dualWield {
    background-image: url('Renderer/content/images/dualWieldIcon.png');
}

.unit-type-swordAndShield {
    background-image: url('Renderer/content/images/swordAndShieldIcon.png');
}

.unit-type-twoHanded {
    background-image: url('Renderer/content/images/twoHandedIcon.png');
}

.action {
    background-size: 100%;
}

.action.disabled {
    opacity: 0.3;
}

.action.attack {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action.cancel {
    background-image: url('Renderer/content/images/cancelIcon.png');
}

.action.confirmMove {
    background-image: url('Renderer/content/images/confirmMoveIcon.png');
}

.action.endTurn {
    background-image: url('Renderer/content/images/endTurnIcon.png');
}

.action.longShot {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.move {
    background-image: url('Renderer/content/images/moveIcon.png');
}

.action.rangeAttack {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.shield {
    background-image: url('Renderer/content/images/shieldIcon.png');
}

.action.shortShot {
    background-image: url('Renderer/content/images/rangeAttackIcon.png');
}

.action.strike {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.action.sweep {
    background-image: url('Renderer/content/images/attackIcon.png');
}

.player-team {
    background: #3ddb11;
    background: -webkit-linear-gradient(top, #3ddb11 0%, #134705 100%);
    background: linear-gradient(to bottom, #3ddb11 0%, #134705 100%);
}

.enemy-team {
    background: #f93b34;
    background: -webkit-linear-gradient(top, #f93b34 0%, #580d0c 100%);
    background: linear-gradient(to bottom, #f93b34 0%, #580d0c 100%);
}

.blink {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}