<div class="contents tile-layer-panel">
    <div>
        <span>Width:</span>
        <input class="numeric-input" type="number" data-name="width" min="1"/>
        <span>Height:</span>
        <input class="numeric-input" type="number" data-name="height" min="1"/>
    </div>
    <div>
        <span>Tile Size:</span>
        <input class="numeric-input" type="number" data-name="tileSize" min="1"/>
        <button data-name="apply">Apply</button>
    </div>
    <div class="divider"></div>
    <select data-name="spriteSheetSelect">
        <option></option>
    </select>
    <div>
        <input type="file" data-name="spriteSheetInput"/>
    </div>
</div>