html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

#activeUnitView {
    position: fixed;
    opacity: 1;
    left: 16px;
    top: 16px;
    border-radius: 8px;
}

#turnQueue {
    position: fixed;
    opacity: 1;
    left: 16px;
    top: 204px;
    border-radius: 8px;
}

.unit-preview {
    height: 128px;
    width: 128px;
    background-size: 512px;
    margin-bottom: 8px;
}

.turn-queue-preview {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin: 0 0 8px 0;
    overflow: hidden;
}

.turn-queue-preview div {
    width: 100%;
    height: 100%;
}

#activeUnitView .outerBar {
    position: relative;
    border: 1px solid #606060;
    background-color: #606060;
    height: 12px;
    margin: 0 8px 8px 8px;
    border-radius: 6px;
}

#activeUnitView .innerBar, #activeUnitView .innerBarPreview {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    left: 0;
}

#activeUnitHP .innerBar {
    background-color: green;
}

#activeUnitHP .innerBarPreview {
    background-color: blue;
}

#activeUnitAP .innerBar {
    background-color: orange;
}

#activeUnitAP .innerBarPreview {
    background-color: orange;
}

.touch #activeUnitView {
    left: 8px;
    top: 8px;
    padding: 8px;
    border-radius: 8px;
}

.touch #activeUnitView img {
    height: 64px;
    width: 64px;
}

.touch #turnQueue {
    left: 8px;
    top: 150px;
}

.touch .turn-queue-preview {
    width: 32px;
    height: 32px;
}

#actionBarView {
    position: fixed;
    left: 50%;
    bottom: 8px;
}

.action-container {
    display: inline-block;
    height: 64px;
    margin-left: -50%;
}

.action {
    height: 64px;
    width: 64px;
    margin: 0 8px 0 0;
    display: inline-block;
    background-color: #000000;
}

.unit-type-archer {
    background-image: url('Renderer/content/icons.png');
}

.unit-type-dualWield {
    background-image: url('Renderer/content/icons.png');
    background-position: -192px 0;
}

.unit-type-swordAndShield {
    background-image: url('Renderer/content/icons.png');
    background-position: -64px 0;
}

.unit-type-twoHanded {
    background-image: url('Renderer/content/icons.png');
    background-position: -128px 0;
}

.unit-preview.unit-type-dualWield {
    background-position: -384px 0;
}

.unit-preview.unit-type-swordAndShield {
    background-position: -128px 0;
}

.unit-preview.unit-type-twoHanded {
    background-position: -256px 0;
}

.action-attack {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
    background-position: -192px -64px;
}

.action-cancel {
    background-color: transparent;
    background-image: url('Renderer/content/cancelIcon.png');
}

.action-confirmMove {
    background-color: transparent;
    background-image: url('Renderer/content/confirmMoveIcon.png');
}

.action-endTurn {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
    background-position: -128px -64px;
}

.action-move {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
    background-position: 0 -64px;
}

.action-rangeAttack {
    background-color: transparent;
    background-image: url('Renderer/content/rangeAttackIcon.png');
}

.action-shield {
    background-color: transparent;
    background-image: url('Renderer/content/icons.png');
    background-position: -64px -64px;
}

.team-green {
    background: #81f742;
    background: -moz-linear-gradient(top, #81f742 0%, #417f1f 100%);
    background: -webkit-linear-gradient(top, #81f742 0%, #417f1f 100%);
    background: -o-linear-gradient(top, #81f742 0%, #417f1f 100%);
    background: -ms-linear-gradient(top, #81f742 0%, #417f1f 100%);
    background: linear-gradient(to bottom, #81f742 0%, #417f1f 100%);
}

.team-red {
    background: #ff8787;
    background: -moz-linear-gradient(top, #ff8787 0%, #843535 100%);
    background: -webkit-linear-gradient(top, #ff8787 0%, #843535 100%);
    background: -o-linear-gradient(top, #ff8787 0%, #843535 100%);
    background: -ms-linear-gradient(top, #ff8787 0%, #843535 100%);
    background: linear-gradient(to bottom, #ff8787 0%, #843535 100%);
}

.touch #actionBarView {
    bottom: 8px;
}

.touch .action-container {
    height: 44px;
    margin-left: -50%;
    border-radius: 12px;
    padding: 6px 6px 6px 12px;
}

.touch .action {
    height: 44px;
    width: 44px;
    margin: 0 4px 0 0;
}

@media only screen and (orientation: landscape) {
    .touch #turnQueue {
        left: 100px;
        top: 8px;
    }

    .touch .turn-queue-preview {
        display: inline-block;
    }

    .touch #actionBarView {
        left: auto;
        bottom: auto;
        right: 8px;
        top: 50%;
    }

    .touch .action-container {
        height: auto;
        margin-left: auto;
        width: 44px;
        padding: 8px 4px 4px 4px;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .touch .action {
        margin: 0 0 4px 0;
    }
}

#testResults {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
}

#testResults.warning {
    background-color: #ffe303;
}

#testResults.error {
    background-color: #c83232;
}