.touch #activeUnitView {
    left: 8px;
    top: 8px;
}

.touch .active-unit-preview {
    height: 96px;
    width: 96px;
    background-size: 384px;
}

.touch #turnQueue {
    left: 8px;
    top: 164px;
}

.touch .turn-queue-preview {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.touch .unit-preview {
    background-size: 128px;
}

.touch #actionBarView {
    bottom: 8px;
}

.touch .unit-type-dualWield {
    background-image: url('Renderer/content/icons.png');
    background-position: -96px 0;
}

.touch .unit-type-swordAndShield {
    background-image: url('Renderer/content/icons.png');
    background-position: -32px 0;
}

.touch .unit-type-twoHanded {
    background-image: url('Renderer/content/icons.png');
    background-position: -64px 0;
}

.touch .active-unit-preview.unit-type-dualWield {
    background-position: -192px 0;
}

.touch .active-unit-preview.unit-type-swordAndShield {
    background-position: -64px 0;
}

.touch .active-unit-preview.unit-type-twoHanded {
    background-position: -128px 0;
}

.touch .action-container {
    height: 44px;
    margin-left: -50%;
}

.touch .action {
    height: 44px;
    width: 44px;
    background-size: 176px;
}

.touch .action-attack {
    background-position: -132px -44px;
}

.touch .action-endTurn {
    background-position: -88px -44px;
}

.touch .action-move {
    background-position: 0 -44px;
}

.touch .action-rangeAttack {
    background-image: url('Renderer/content/rangeAttackIcon.png');
}

.touch .action-shield {
    background-position: -44px -44px;
}

.touch .action-cancel {
    background-size: 44px;
}

.touch .action-confirmMove {
    background-size: 44px;
}

@media only screen and (orientation: landscape) {
    .touch #turnQueue {
        left: 112px;
        top: 8px;
    }

    .touch .turn-queue-preview {
        display: inline-block;

        margin-right: 8px;
    }

    .touch #actionBarView {
        left: auto;
        bottom: auto;
        right: 8px;
        top: 50%;
    }

    .touch .action-container {
        height: auto;
        margin-left: auto;
        width: 44px;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .touch .action {
        margin: 0 0 8px 0;
    }
}