html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas {
    outline: 0;
    width: 100%;
    height: 100%;

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#activeUnitView {
    position: fixed;
    opacity: 1;
    left: 16px;
    top: 16px;
    padding: 16px;
    border-radius: 16px;
}

#turnQueue {
    position: fixed;
    opacity: 1;
    left: 16px;
    top: 225px;
    padding: 8px;
    border-radius: 16px;
    background-color: rgba(225, 255, 255, 0.2);
}

#turnQueue img {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 16px;
}

#activeUnitView img {
    height: 128px;
    width: 128px;
}

#activeUnitView .outerBar {
    position: relative;
    border: 1px solid #606060;
    background-color: #606060;
    height: 12px;
    margin-bottom: 4px;
    border-radius: 6px;
}

#activeUnitView .innerBar, #activeUnitView .innerBarPreview {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    left: 0;
}

#activeUnitHP .innerBar {
    background-color: green;
}

#activeUnitHP .innerBarPreview {
    background-color: blue;
}

#activeUnitAP .innerBar {
    background-color: orange;
}

#activeUnitAP .innerBarPreview {
    background-color: orange;
}

.touch #activeUnitView {
    left: 8px;
    top: 8px;
    padding: 8px;
    border-radius: 8px;
}

.touch #activeUnitView img {
    height: 64px;
    width: 64px;
}

.touch #turnQueue {
    left: 8px;
    top: 150px;
}

.touch #turnQueue img {
    width: 32px;
    height: 32px;
}

#actionBarView {
    position: fixed;
    left: 50%;
    bottom: 16px;
}

#actionBarView div {
    display: inline-block;
    height: 64px;
    margin-left: -50%;
    border-radius: 20px;
    padding: 8px 8px 8px 16px;
    background-color: rgba(225, 255, 255, 0.2);
}

#actionBarView img {
    height: 64px;
    width: 64px;
    margin: 0 8px 0 0;
}

.touch #actionBarView {
    bottom: 8px;
}

.touch #actionBarView img {
    height: 44px;
    width: 44px;
    margin: 0 4px 0 0;
}

.touch #actionBarView div {
    height: 44px;
    margin-left: -50%;
    border-radius: 12px;
    padding: 6px 6px 6px 12px;
}

@media only screen and (orientation: landscape) {
    .touch #turnQueue {
        left: 100px;
        top: 8px;
    }

    .touch #turnQueue img {
        display: inline-block;
        width: 32px;
        height: 32px;
    }

    .touch #actionBarView {
        left: auto;
        bottom: auto;
        right: 8px;
        top: 50%;
    }

    .touch #actionBarView div {
        height: auto;
        margin-left: auto;
        width: 44px;
        padding: 8px 4px 4px 4px;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .touch #actionBarView img {
        margin: 0 0 4px 0;
    }
}

#testResults {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
}

#testResults.warning {
    background-color: #ffe303;
}

#testResults.error {
    background-color: #c83232;
}