<div id="lobbyMenu">
    <div id="leftColumn">
        <div class="section">
            <h1>Notifications</h1>
            <div>Test Notification</div>
        </div>
        <div class="section">
            <h1>Waiting on you</h1>
            <table>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <h1>Waiting on them</h1>
            <table>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Poke">
                    </td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Poke">
                    </td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="rightColumn">
        <div class="section">
            <h1>Search for players</h1>
            <div id="searchBox">
                <input type="text">
                <input type="button" value="Search">
            </div>
            <table class="resultsTable">
                <tr class="result">
                    <td>
                        <div data-brackets-id="582" class="playerRanking">#1</div>
                        <div class="playerName">Test</div>
                        <div class="playerRecord">
                            <ul>
                                <li>Wins</li>
                                <li>0</li>
                                <li>Losses</li>
                                <li>0</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr class="result">
                    <td>
                        <div data-brackets-id="582" class="playerRanking">#1</div>
                        <div class="playerName">Test</div>
                        <div class="playerRecord">
                            <ul>
                                <li>Wins</li>
                                <li>0</li>
                                <li>Losses</li>
                                <li>0</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr class="result">
                    <td>
                        <div data-brackets-id="582" class="playerRanking">#1</div>
                        <div class="playerName">Test</div>
                        <div class="playerRecord">
                            <ul>
                                <li>Wins</li>
                                <li>0</li>
                                <li>Losses</li>
                                <li>0</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>