<link rel="stylesheet" type="text/css" href="Renderer/content/templates/lobbyMenu.css" />

<nav id="navigationMenu" class="inactive">
    <ul>
        <li id="notificationsButton">Notifications</li>
        <li id="waitingOnYouButton">Waiting on you</li>
        <li id="waitingOnThemButton">Waiting on them</li>
        <li id="playerSearchButton">Search for players</li>
    </ul>
</nav>

<div id="navigationBar">
    <img id="navigationButton" src="Renderer/content/images/menuIcon.png" />
</div>
<div id="content">

</div>
<!--<div id="lobbyMenu2">
    <div id="leftColumn">
        <div class="section">
            <h1>Notifications</h1>
            <div>Test Notification</div>
        </div>
        <div class="section">
            <h1>Waiting on you</h1>
            <table>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
            </table>
        </div>
        <div class="section">
            <h1>Waiting on them</h1>
            <table>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td class="buttonWidth">
                        <input type="button" value="Forfeit">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="rightColumn">
        <div class="section">
            <h1>Search for players</h1>
            <div id="searchBox">
                <input type="text">
                <input type="button" value="Search">
            </div>
            <table class="resultsTable">
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
                <tr>
                    <td class="playerName">Test</td>
                    <td>
                        <input type="button" value="Challenge">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>-->
