<link rel="stylesheet" type="text/css" href="Renderer/content/templates/menu.css" />
<link rel="stylesheet" type="text/css" href="Renderer/content/templates/lobbyMenu.css" />

<div id='mainMenuWood'></div>
<div id='mainMenuChains'>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='notificationsButton'>Notifications</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='waitingOnYouButton'>Waiting on you</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='waitingOnThemButton'>Waiting on them</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='playerSearchButton'>Search for players</p></div>
</div>
<div id="content">

</div>