#content {
    width: 100%;
    height: 100%;
}

.section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #CCC;
    width: 100%;
    height: 100%;
}

#searchSection {
    padding: 20px 10px;
    border-bottom: 1px solid #333;
    text-align: right;
}

#searchResults {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#searchResults table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#searchResults tr:nth-child(odd) {
    background-color: #DDD;
}
#searchResults tr:nth-child(even) {
    background-color: #CCC;
}
#searchResults td {
    vertical-align: middle;
    padding: 10px;
    font-family: Arial;
}
#searchResults td:last-child {
    width: 100px;
}
#searchResults th {
    display: block;
    background-color: #999;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    color: #ffffff;
    display: table-cell;
}

.userName {
    word-wrap: break-word;
    
}