#navigationBar {
    position: relative;
    background: #333;
    box-shadow: 0px 2px 10px #000;
    height: 32px;
    z-index: 2;
}
#navigationMenu {
    background: #666;
    color: #CCC;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    text-shadow: 2px 2px 1px #000;
    z-index: 1;
    box-shadow: 0px 2px 10px #000;
    
    -webkit-transition: top 200ms ease-in-out;
    -moz-transition: top 200ms ease-in-out;
    -ms-transition: top 200ms ease-in-out;
    -o-transition: top 200ms ease-in-out;
    transition: top 200ms ease-in-out;
}
#navigationMenu ul {
    padding: 0;
    margin: 10px;
}
#navigationMenu li {
    padding: 5px;
}
#navigationMenu.inactive {
    top: -250px;
}
#navigationMenu.active {
    top: 32px;
}



    .section {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #FFF;
    }



#leftColumn {
    width: 100%;
    max-width: 350px;
    float: left;
}
#leftColumn table {
    width: 100%;
}
#leftColumn .buttonWidth {
    width: 50px;
}
#rightColumn {
    float: left;
}
#rightColumn ul {
    display: inline;
}
#rightColumn li {
    float: left;
    padding: 0px 10px;
}
#rightColumn li:nth-child(odd) {
    background: #999;
    border-radius: 10px;
    padding: 0px 10px;
    color: #FFF;
}
#searchBox {
    padding: 10px 0px;
}
.section {
    background-color: rgba(255, 255, 255, 1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.playerName {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.playerRecord {
    padding: 10px 0px 0px 0px;
}
.playerRanking {
    float: left;
    font-size: 24px;
    font-family: Arial;
    font-weight: 900;
    color: #417C00;
    text-shadow: 1px 1px 0 #000;
    padding: 0px 10px;
}
.result {
    padding: 10px;
}
.result input {
    height: 100%;
}
.resultsTable {
    width: 100%;
    border-collapse: collapse;
    color: #FFF;
    left: 0px;
    top: 0px;
}
.resultsTable table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.resultsTable tr:nth-child(odd) {
    background-color: #DDD;
}
.resultsTable tr:nth-child(even) {
    background-color: #CCC;
}
.resultsTable td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
    /* display: inline; */
    /* float: left; */
}
.resultsTable td:last-child {
    width: 100px;
}
.resultsTable td:last-child input {
    width: 100px;
}
.resultsTable th {
    display: block;
    background-color: #999;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    color: #ffffff;
    display: table-cell;
}