#content {
    width: 100%;
    height: 100%;
}

.section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #CCC;
    width: 100%;
    height: 100%;
}

#searchSectionTable {
    display: table;
    width: 100%;
}

#searchSection {
    padding: 5px;
    height: 40px;
    text-align: right;
    vertical-align: middle;
    box-shadow: 0px 3px 5px #888;
    position: relative;
    display: table-cell;
    z-index: 1;
    background: #CCC;
}

#searchResults {
    overflow: auto;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#searchResultsTable {
    width: 100%;
    border-collapse: collapse;
}

#searchResultsTable table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#searchResultsTable tr:nth-child(odd) {
    background-color: #DDD;
}
#searchResultsTable tr:nth-child(even) {
    background-color: #CCC;
}
#searchResultsTable td {
    vertical-align: middle;
    padding: 10px;
    font-family: Arial;
}
#searchResultsTable td:last-child {
    width: 100px;
}
#searchResultsTable th {
    display: block;
    background-color: #999;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    color: #ffffff;
    display: table-cell;
}

.userName {
    word-wrap: break-word;
    
}