#loginPopup {
    position: absolute;
    display: block;
    width: 300px;
    max-width: 100%;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    background-color: #CCC;
    display: table;
    background-size: contain;
}

#loginPopup .content {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
}

#loginPopup .content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px #333, 1px -1px #333, -1px -1px #333, -1px 1px #333;
    margin: 20px;
}

input {
    display: block;
    width: 200px;
    margin: 5px auto;
    padding: 5px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#warningIcon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: table-cell;
    vertical-align: middle;
}

#errorMessage {
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

#errorMessage:before {
    display: inline-block;
    content: '';
    background-size: contain;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 8px;
    background-image: url('../images/cancelIcon.png');
}

#errorMessage:empty {
    visibility: hidden;
}

#cancelButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    width: 16px;
    height: 16px;
    background-image: url('../images/closeIcon.png');
    background-size: contain;
    opacity: 0.5;
}

@media only screen and (max-width: 400px), screen and (max-height: 400px) {
    #loginPopup {
        top: 0;
        left: 0;
        margin: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}