#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

#loginPopup {
    position: relative;
    width: 250px;
    top: 10%;
    margin: auto;
}

#loginPopupContents {
    background-color: #ccc;
    padding: 10px 0 20px 0;
}

.inputLabel {
    font-weight: 700;
    padding: 10px 0 0 20px
}

.input {
    padding: 0 10px 0 40px;
}

.table {
    text-align: center;
    display: table;
    width: 100%;
}

.warningIcon {
    width: 18px;
    height: 18px;
    margin: 0px 5px;
    float: left;
    vertical-align: middle;
}

#errorMessage {
    padding: 0px 5px;
}

.tab {
    display: table-cell;
    width: 50%;
    padding: 10px 0;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    background-color: #ccc;
}

.unselectedTab {
    display: table-cell;
    width: 50%;
    padding: 10px 0;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    background-color: #999;
}

.button {
    display: table-cell;
    width: 50%;
    padding: 10px 0;
    font-weight: 700;
    border: 1px solid #999;
    background-color: #ccc;
}
