<link rel="stylesheet" type="text/css" href="Renderer/content/templates/mainMenu.css" />

<div id='mainMenu'>
    <div id='singlePlayer' class='menuItem'>Single Player</div>
    <div id='multiPlayer' class='menuItem'>Multiplayer</div>
    <div id='options' class='menuItem'>Options</div>
    <div id='exit' class='menuItem'>Exit</div>
</div>

<div>
    <div id='mainMenuWood'></div>
    <div id='mainMenuChains'>
        <div class="chainItem"></div>
        <div class="chainItem"></div>
        <div class="chainItem"></div>
        <div class="chainItem"></div>
    </div>
</div>
