<link rel="stylesheet" type="text/css" href="Renderer/content/templates/menu.css" />

<div id='mainMenuWood'></div>
<div id='mainMenuChains'>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='singlePlayer'>Single Player</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='multiPlayer'>Multiplayer</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='options'>Options</p></div>
    <div class="menuChain"></div>
    <div class="menuItem"><p id='exit'>Exit</p></div>
</div>

<div id='content'>

</div>