<div class="section">
    <input id="searchCriteria" type="text" placeholder="Search by player">
    <input id="searchButton" type="button" value="Search">
    <table>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
    </table>
</div>