<style type="text/css">
</style>

<div class="section">
    <input type="text" placeholder="Search by player">
    <input type="button" value="Search">
    <table>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
    </table>
</div>