h1 {
    padding: 15px;
    margin: 0;
}
.activeGamesTable {
    width: 100%;
    border-collapse: collapse;
}
.activeGamesTable td {
    vertical-align: middle;
    padding: 20px;
}
.activeGamesTable tr:nth-child(even) {
}
.activeGamesTable tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}
.activeGamesTable td:last-child {
    width: 100px;
}
.activeGamesTable th {
    display: block;
    background-color: #999;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    display: table-cell;
}
.levelThumbnail {
    width: 128px;
    height: 64px;
}
