.battle-config {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 16px auto;
    padding: 16px;
    max-width: 1200px;
    min-width: 320px;
}

.battle-config .config-column {
    display: inline-block;
    vertical-align: top;
    min-width: 280px;
    width: 100%;
}

@media (min-width: 600px) {
    .battle-config .config-column {
        width: 50%;
    }
}

.battle-config label {
    display: block;
    margin-bottom: 12px;
    vertical-align: middle;
}

.battle-config label span:first-child {
    min-width: 3em;
    display: inline-block;
}

.battle-config label span:last-child {
    margin-left: 6px;
}

.battle-config input, .battle-config select {
    vertical-align: middle;
    width: 140px;
    overflow: visible;
}

.level-config {
    padding-right: 16px;
}

#level-preview {
    width: 100%;
}

.tab-content-container {
    padding: 0 16px;
    position: relative;
}

.tab-header {
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}

.tab {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;
}

.tab-header-content {
    margin: 0 auto;
    position: relative;
    opacity: 0.4;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.tab.selected .tab-header-content {
    opacity: 1;
    border-bottom-color: #000;
    max-width: 64px;
}

.tab .unit-type {
    height: 32px;
    width: 32px;
    background-size: 32px;
    margin: 4px auto;
}

.tab .unit-count {
    position: absolute;
    left: 50%;
    top: -12px;
    background-color: #29da7e;
    border: 1px solid #1f8127;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}

.unit-count:empty {
    display: none;
}

.tab[data-unit="archer"] .unit-type {
    background-image: url('../renderer/content/images/archerIcon.png');
}

.tab[data-unit="rogue"] .unit-type {
    background-image: url('../renderer/content/images/dualWieldIcon.png');
}

.tab[data-unit="shield"] .unit-type {
    background-image: url('../renderer/content/images/swordAndShieldIcon.png');
}

.tab[data-unit="warrior"] .unit-type {
    background-image: url('../renderer/content/images/twoHandedIcon.png');
}

.tab-content {
    display: inline-block;
}

.tab-content:not(.selected) {
    display: none;
}

.unit-preview {
    float: left;
    width: 64px;
    height: 64px;
}

.tab-content[data-unit="shield"] .unit-preview {
    background-size: 1280px;
    background: url('../renderer/content/images/shield - idle.png') -12px -168px;
}

.tab-content[data-unit="warrior"] .unit-preview {
    background-size: 1120px;
    background: url('../renderer/content/images/warrior - idle.png') -6px -144px;
}

.tab-content[data-unit="archer"] .unit-preview {
    background-size: 960px;
    background: url('../renderer/content/images/archer - idle.png') 0 -116px;
}

.tab-content[data-unit="rogue"] .unit-preview {
    background-size: 1280px;
    background: url('../renderer/content/images/shield - idle.png') -12px -168px;
}

.tab-content ul {
    padding: 0 0 0 16px;
    margin: 0;
}

.battle-config footer {
    margin-top: 16px;
}

.battle-config .button-panel {
    float: right;
}

.battle-config .button-panel button {
    margin-left: 12px;
}

.unit-config .button-panel {
    position: absolute;
    float: none;
    right: 16px;
    top: 10px;
}

.image-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: black;
    background-position: center center;
    border: 2px solid #000;
    border-radius: 6px;
    margin-left: 8px;
}

.image-button.disabled {
    opacity: 0.4;
}

div[data-button="add"] {
    background-image: url('images/addIcon.png');
}

div[data-button="remove"] {
    background-image: url('images/removeIcon.png');
}
