#login {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 24px;
}

.title, p {
    margin: 10px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000, -1px 1px #000, -1px -1px #000, 1px -1px #000;
}

input {
    display: block;
    width: 200px;
    margin: 5px auto;
    padding: 5px;
}

#errorMessage {
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin: 10px 30px;
}

#errorMessage:before {
    display: inline-block;
    content: '';
    background-size: contain;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 8px;
    background-image: url('./images/cancelIcon.png');
}

#errorMessage:empty {
    visibility: collapse;
    height: 0;
    width: 0;
}
