#mainMenuBar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    background-image: url('./images/wood.png');
    background-size: contain;
    display: table;
}
#mainMenuChains {
    position: absolute;
    width: 300px;
    margin-left: 10px;
    z-index: 1;
}
#content {
    position: relative;
    height: 100%;
}
.lowerChains {
    animation: bounce 2s linear;
    -webkit-animation: bounce 2s linear;
}
.raiseChains {
    transition: transform 2s;
    -webkit-transition: -webkit-transform 2s;
    transform: translateY(-300%);
    -webkit-transform:  translateY(-300%);
}
.menuChain {
    background-image: url('./images/menuChain.png');
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    height: 20px;
}
.menuItem {
    background-image: url('./images/menuItem.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}
.menuItem p {
    font-size: 14px;
    font-weight: 700;
    text-shadow: -1px 1px #333, 1px -1px #333, 1px 1px #333, -1px -1px #333;
    margin: 0;
    color: #EEE;
    padding: 10px;
    cursor: pointer;
}

#multiplayerBar {
    height: 40px;

    display: table;
    float: right;
}

#notifications {
    vertical-align: middle;
    box-shadow: inset 1px 1px 5px #000;
    opacity: 0.5;
}

#notificationsWrapper {
    vertical-align: middle;
    display: table-cell;
}

#searchBar {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
    height: 100%;
}

#searchBar input {
    vertical-align: middle;
}

#searchCriteria {

}

#searchButton {

}

#content {
    width: 100%;
    height: 100%;
}

#searchSectionTable {
    display: table;
    width: 100%;
}

#searchSection {
    padding: 5px;
    height: 40px;
    text-align: right;
    vertical-align: middle;
    box-shadow: 0px 3px 5px #888;
    position: relative;
    display: table-cell;
    z-index: 1;
    background: #CCC;
}

#searchResults {
    overflow: auto;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#searchResultsTable {
    width: 100%;
    border-collapse: collapse;
}

#searchResultsTable table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#searchResultsTable tr:nth-child(odd) {
    background-color: #DDD;
}
#searchResultsTable tr:nth-child(even) {
    background-color: #CCC;
}
#searchResultsTable td {
    vertical-align: middle;
    padding: 10px;
    font-family: Arial;
}
#searchResultsTable td:last-child {
    width: 100px;
}
#searchResultsTable th {
    display: block;
    background-color: #999;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
    color: #ffffff;
    display: table-cell;
}

.userName {
    word-wrap: break-word;

}


#buttonWrapper {
    display: table-cell;

    vertical-align: middle;
    height: 100%;
}

@media only screen and (max-width: 400px) {
    #mainMenuChains {
        left: 50%;
        margin-left: -125px;

        width: 250px;
}
}
@keyframes bounce {
    0% {
        transform: translateY(-300%);
        -webkit-transform: translateY(-300%);
    }
    70% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    75% {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
    }
    80% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    85% {
        transform: translateY(-3%);
        -webkit-transform: translateY(-3%);
    }
    90% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    95% {
        transform: translateY(-1%);
        -webkit-transform: translateY(-1%);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes bounce {
    0% {
        transform: translateY(-300%);
        -webkit-transform: translateY(-300%);
    }
    70% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    75% {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
    }
    80% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    85% {
        transform: translateY(-3%);
        -webkit-transform: translateY(-3%);
    }
    90% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    95% {
        transform: translateY(-1%);
        -webkit-transform: translateY(-1%);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
